@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    src: local("Manrope"),
         url("/fonts/Manrope/Manrope-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    src: local("Manrope"),
         url("/fonts/Manrope/Manrope-ExtraBold.woff2") format("woff2");
}